body {
    background-color: #e7e7d3;
    margin: 15px;
    padding: 5px;
 }
header {
    display: block;
}
h1{
    font-family: serif;
    font-style: italic;    
}
.top1 {
    display: flex;
    background-color: rgba(22, 22, 133, 0.952);
    justify-content: flex-end;
    align-items: flex-end;
    height: 60px;
    width: 100%;
    margin-bottom: 50px;
 }
i {
    margin: 15px;
    padding: 5px;
   color: black; 
   }  
.top2 {    
    height: 350px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
} 
img {
    display: flex;
    justify-content: center;
    position: absolute;   
    opacity: 0.18;
    z-index: -1;
    width: 95%;
    height: 370px;
}
.conteiner{
position:absolute;
display: flex;
justify-content: space-between;
margin: 15px;
}

.titulo{
    display: flex;
    justify-content: center;
    font-family: serif;
    font-style: italic;
    color: rgba(22, 22, 133, 0.952);
    border-right: solid;
    padding: 80px;
 }
p{    
    padding: 100px;
    justify-content: center;
}
.bottom {
    display: flex;
    justify-content: center;     
    border-top: solid;
    border-color: rgba(22, 22, 133, 0.952);
    padding: 5px;   
    width: 50%;
    height: 60px;
    margin-left: 350px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.childrenTop3 {
    margin: 60px;    
}
